@page
@model IndexModel
@{
    ViewData["Title"] = "Hogar Gestor App";
}
<style>
    h1{font-weight: bolder;}
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenido a Hogar Gestor App</h1>
    <center>
        <img src="https://i.imgur.com/vxhryeb.png" alt="Hogar Gestor Logo.png" width="580" height="660"
            title="Hogar Gestor">
    </center>
    
</div>

