@page
@model IndexModel
@{
    ViewData["Title"] = "Hogar Gestor App";
}
<style>
    h1{font-weight: bolder;}
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenido a Hogar Gestor App</h1>
    <center>
        <img src="https://st.depositphotos.com/1037987/5047/i/600/depositphotos_50476699-stock-photo-social-worker-visiting-family-with.jpg" alt="Hielow Team Logo.png" width="800" height="500"
            title="Hiellow-Team">
    </center>
    
</div>

