@page
@model PrivacyModel
@{
    ViewData["Title"] = "Hiellow Team";
}


<div class="center">
    <center>
        <h1>@ViewData["Title"]</h1>
        <br>
        <br>
        <br>
        <img src="https://i.imgur.com/UKaZlyx.png" alt="Hielow Team Logo.png" width="800" height="500"
            title="Hiellow-Team">
    </center>
</div>


