dd[b-pjiigovknm] {
    padding: 1.3em 3em;
    
    color: #000;
    background-color: rgba(255, 255, 255, 0.397);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    
    outline: none;
  }

  dd:hover[b-pjiigovknm] {
    background-color: #2e2e2e;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }