@page
@model HogarGestor.App.Presentacion.Pages_BDMedicos.CreateModel
@{
}
<h1>Crear Nuevo Medico</h1>
<br>
<form method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="medico.Nombre" placeholder="Ingrese El Nombre del Medico" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Apellidos</label>
        <input asp-for="medico.Apellidos" placeholder="Ingrese Los Apellidos del Medico" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Telefono</label>
        <input asp-for="medico.NumeroTelefono" placeholder="Ingrese Telefono del Medico" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Documento</label>
        <input asp-for="medico.Documento" placeholder="Ingrese El Documento del Medico" class="form-control">
    </div>
    <br>
    
    <div class="form-group">
        <label>Genero</label>
        <select asp-for="medico.Genero"  class="form-control">
        <option selected>Genero...</option>
        <option value="0">Masculino</option>
        <option value="1">Femenino</option>
        <option value="2">Intersexual</option>
        </select>
    </div>
    <br>
    <div class="form-group">
        <label>Tarjeta Profesional</label>
        <input asp-for="medico.TarjetaProfesional" placeholder="Ingrese La Tarjeta Profesional del Medico" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Registro Rethus</label>
        <input asp-for="medico.Rethus" placeholder="Ingrese El Registro Rethus del Medico" class="form-control">
    </div>
    <br>
    
    <div class="form-group">
        <label>Especialidad</label>
        <select asp-for="medico.EspecialidadMedica"  class="form-control">
        <option selected>Especialidad...</option>
        <option value="0">Pediatria</option>
        <option value="1">Nutricion</option>
        </select>
    </div>
    <br>
    <div>
    <button type="submit" class="btn btn-secondary btn-lg" asp-page-handler="Save">Crear</button>
    <a type="button" class="btn btn-secondary btn-lg" asp-page="./index">Cancelar</a>
    </div>
</form>