@page
@model HogarGestor.App.FrontEnd.Pages.ListModel
@{
}
<h1>Listado de Saludos en Varios Idiomas</h1>
<table class="table">
    @foreach (var Saludo in Model.Saludos){
        <tr>
            <td>@Saludo.EnEspanol</td>
            
            <td>@Saludo.EnIngles</td>
            
            <td>@Saludo.EnItaliano</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page = "/Saludos/Details" asp-route-IdSaludo = "@Saludo.Id">
                    <i class = "fas fa-info-circle"> </i>
                    Detalle Saludo
                </a>
            </td>
            

        </tr>
        
    }

</table>