@page
@model HogarGestor.App.Presentacion.Page_Jovenes.IndexModel
@{
}

<h1>Lista De Jovenes</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Genero</th>
        </tr>
    </thead>
    @foreach (var joven in Model.Jovenes)
    {
        <tbody>
            <tr>
                <td>@joven.Nombre</td>
                <td>@joven.Apellido</td>
                <td>@joven.Telefono</td>
                <td>@joven.GeneroId</td>
                <td>
                    <span class="material-icons">delete</span>
                    <span class="material-icons">search</span>
                    <span class="material-icons">mode_edit</span>
                    <span class="material-icons">insert_emoticon</span>
                </td>
            </tr>
        </tbody>
    }
</table>