@page
@model HogarGestor.App.Presentacion.Pages_BDFamiliares.CreateModel
@{
}
<h1>Crear Nuevo Familiar</h1>
<br>

<form method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="familiar.Nombre" placeholder="Ingrese El Nombre del Familiar" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Apellidos</label>
        <input asp-for="familiar.Apellidos" placeholder="Ingrese Los Apellidos del Familiar" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Telefono</label>
        <input asp-for="familiar.NumeroTelefono" placeholder="Ingrese Telefono del Familiar" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Documento</label>
        <input asp-for="familiar.Documento" placeholder="Ingrese El Documento del Familiar" class="form-control">
    </div>
    <br>
    
    <div class="form-group">
        <label>Genero</label>
        <select asp-for="familiar.Genero"  class="form-control">
        <option selected>Genero...</option>
        <option value="0">Masculino</option>
        <option value="1">Femenino</option>
        <option value="2">Intersexual</option>
        </select>
    </div>
    <br>
    <div class="form-group">
        <label>Parentesco</label>
        <input asp-for="familiar.Parentesco" placeholder="Ingrese El Parentesco Con El Joven" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Correo Electronico</label>
        <input asp-for="familiar.CorreoElectronico" placeholder="Ingrese El Correo Electronico del Familiar" class="form-control">
    </div>
    
    <br>
    <div>
    <button type="submit" class="btn btn-secondary btn-lg" asp-page-handler="Save">Crear</button>
    <a type="button" class="btn btn-secondary btn-lg" asp-page="./index">Cancelar</a>
    </div>
</form>