@page
@model HospiEnCasa.App.Presentacion.Pages_BDJovenes.AddPatronesCrecimientoModel
@{
}

<h1>Patron de Crecimiento</h1>

<form method="post">
 <input type="hidden" asp-for="@Model.Joven.Id">
 <div class="form-group">
    <label>Medicion</label>
    <select asp-for="PatronesCrecimiento.Medicion" class="form-control">
       <option selected>Tipo Medicion...</option>
        <option value="0">Peso</option>
        <option value="1">Talla</option>
        <option value="2">Perimetro Cefalico</option>
        <option value="3">Perimetro Abdominal</option>
    </select>
  </div>

  <div class="form-group">
    <label>Valor</label>
    <input asp-for="PatronesCrecimiento.Valor" placeholder="Ingrese el Valor" class="form-control">
  </div>
   <div class="form-group">
    <label></label>
   </div>
  <button type="submit" class="btn btn-primary" asp-page-handler="Save">Crear Patron de Crecimiento</button>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
